.slideLeft,
.slideRight{
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
    visibility: visible !important; 
}
.slideRight{
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }      
    100% {
        transform: translateX(0%);
    }   
}
 
@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }      
    100% {
        -webkit-transform: translateX(0%);
    }
}
.slideLeft{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;  
}
@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }          
    100% {
        transform: translateX(0%);
    }
}
 
@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }         
    100% {
        -webkit-transform: translateX(0%);
    }
}

.order__new-price{
    animation: glow .5s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px red;
    }
}